$grey: #333;
$under: 1px solid $grey;


.header{
    color: $grey;
    border-bottom: $under;
}

:host {
    ::ng-deep .ui-sidebar {
        background-color: rgb(75, 75, 75);
        border:none;
    }
}


