<p-sidebar class="sidebar text-center" [(visible)]="display" position="right" baseZIndex=100 autoZIndex="false">
  <app-search city = "'city'"></app-search>
</p-sidebar>

<div class="row">
  <div class="col-12 text-center mb-1">
    <h1 class="header">Dan's Daily Forecast</h1>
  </div>
</div>

<div class="row text-center">
  <div class="col-4">
    <app-plus (click) = removeCity(); klass='minus mr-auto'></app-plus>
  </div>
  <div class="col-4">
    <h2>{{currentCity.name}}</h2>
  </div>
  <div class="col-4">
    <app-plus (click)="display = true" klass='plus ml-auto'></app-plus>
  </div>
</div>
<div class="d-flex flex-row justify-content-between ">
  <app-arrow (click) = scroll(-1); class="my-auto" direction=prev></app-arrow>
  <app-city date="{{currentCity.main.temp_max}}° High" icon={{symbol}} degrees="{{currentCity.main.temp_min}}° Low"></app-city>
  <app-arrow (click) = scroll(1); class="my-auto" direction=next></app-arrow>
</div>


<app-forecast></app-forecast>