<p-sidebar class="sidebar" [(visible)]="display" position="right" baseZIndex=100 autoZIndex="false">

</p-sidebar>

<div class="row">
  <div class="col-12 text-center mb-1">
    <h1 class="header">Dan's Daily Forecast</h1>
  </div>
</div>

<div class="row text-center">
  <div class="col-4">
    <app-plus klass='minus'></app-plus>
  </div>
  <div class="col-4">
    <h2>Modesto</h2>
  </div>
  <div class="col-4">
    <app-plus (click)="display = true" klass='plus'></app-plus>
  </div>
</div>
<div class="d-flex flex-row justify-content-between ">
  <app-arrow class="my-auto" direction=prev></app-arrow>
  <app-city date='1' icon='moon' degrees='90'></app-city>
  <app-arrow class="my-auto" direction=next></app-arrow>
</div>


<app-forecast></app-forecast>