$green: rgb(128, 228, 128);
$red: rgb(228, 128, 128);
div {
    width:50px;
    height:50px;
    transition: 0.4s all;
    &.plus{
      background:
        linear-gradient($green,$green),
        linear-gradient($green,$green),
        #333;
      background-position:center;
      background-size: 50% 2px,2px 50%;
      background-repeat:no-repeat;
    }
    &.minus{
      background:
        linear-gradient($red,$red),
        #333;
      background-position:center;
      background-size: 50% 2px,2px 50%;
      background-repeat:no-repeat;
    }
    &:hover{
        transform: rotate(180deg);
    }
}
